<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-3">
            <div class="card" style="width: 14rem;">
                <div class="card-block">
                    <div class="card-title">
                        <h3>Completed Tasks</h3>
                    </div>
                    <div class="card text-center">
                        <img src="https://davidson.instructure.com/courses/22330/files/327958/download?download_frd=1" class="card-img-top" alt="Card image">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">illo est ratione doloremque quia maiores aut</li>
                        <li class="list-group-item">vero rerum temporibus dolor</li>
                        <li class="list-group-item">ipsa repellendus fugit nisi </li>
                        <a style="margin-top: 10px;" href="#" class="btn btn-sucess">See Completed</a>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

  

